<div text-align: center>
<center> RESULTS </center>
</div>

<br>
<br>
<br>

<div style="width:100%;"> <!-- Main Div -->
	<div style="float:left; width:50%; ">
		<div margin-right: 10%> 
			<center> Input - <%= @inp_code.length %> characters </center>
			<br>
			<br>

		</div>
		<%= @inp_code %> 
	</div>
	<div style="float:right; width:50%; ">
	<div margin-right: 10%> 
			<center> Output - <%= @out_code.length %> characters</center>
			<br>
			<br>

		</div>
		<%= @out_code %> 
	</div>
</div>